<ion-tabs>
  <ion-tab-bar slot="top" mode="ios" translucent="true">
    <ion-tab-button tab="suggestions" mode="ios">
      <ion-icon name="chatbubble-ellipses"></ion-icon>
      <ion-label>Suggestions</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="fulltext">
      <ion-icon name="document-text"></ion-icon>
      <ion-label>Full-text</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="fuzziness">
      <ion-icon name="magnet"></ion-icon>
      <ion-label>Fuzziness</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
